body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

#equipo-container {
  margin-top: 110px;
}

#grupo-tarjetas {
  margin-top: 30px;
}

#color-texto {
  color: white;
}

#img-equipo {
  height: 360px;
  max-width: 58%;
  display: block;
  margin: auto;
}
