#navbar-cliente {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

#navbar-cliente {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.logo-menu {
  width: 7%;
  margin-right: 5px;
}

#boton-navbar-cliente {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
